.LogReg-popup{
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.background-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}

.log-reg-popup {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 25px 20px;
    width: 600px;
    border-radius: 15px;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    0% {
        top: 0;
        opacity: 0;
    }
    100% {
        top: 70px;
        opacity: 1;
    }
}

.log-reg-popup .exit, .left {
    width: 15px;
    height: 15px;
    margin: 4px;
    cursor: pointer;
}

.log-reg-popup .exit:hover path, .left:hover path {
    fill: blue !important;
}

.log-reg-popup .exit:hover, .left:hover {
    border: 1px solid blue;
    padding: 3px;
    margin: 0px;

    transition: all 0.1s ease-in;
}

.log-reg-popup .no-scroll {
    overflow: hidden;
}

.log-reg-popup .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .content *{
    margin: 0;
    box-sizing: border-box;
}

.login .content{
    padding: 0px 80px 80px 80px;
}

.login .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.logo{
 background-color: red;
 padding: 7px;
 color: white;
 width:fit-content;
 margin-bottom: 20px !important;
}


.login form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px !important;
}

.login form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login form div label{
    font-weight: 500;
    font-size: 14px;
}

.login .phoneCode{
    display: flex;
    flex-direction: row;
}

.login .phoneCode select{
    width:80px;
}

.login input, .login select{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}

.login input:focus{
    border: 1px solid rgb(69, 69, 255);
    transition: all 0.2s ease-in;
}

.login form .submit{
    background-color: rgb(87, 90, 255);
    font-size: 20px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.login form .submit:hover{
    background-color: rgb(60, 63, 255);
}

.login .content .error{
    color: red;
    margin-bottom: 10px;
}

.login .content p{
    text-align: center;
}

.login .content .bottom{
    margin-top: 10px;
}

.login .content .bottom span{
    color: rgb(75, 78, 255);
    font-weight: 700;
    cursor: pointer;
}

.login .content .bottom span:hover {
    border: 1px solid blue;
    padding: 2px 3px;
    margin: 0px;
    text-decoration: underline;

    transition: all 0.1s ease-in;
}

.login .content .submit.disabled {
    background-color: rgb(147, 148, 255);
    cursor: not-allowed;
}



